<div class="bg-white rounded shadow-sm p-4 mb-4">
<div> <span class="text-black-50">Tìm kiếm theo Khách</span><input class="input-group-text" style="width: 186.8px" type="text" [(ngModel)]="searchInput" [defaultValue]="" (keyup)="searchByInput(searchInput)"></div>
<div style="position: relative"><span class="text-black-50">Lọc theo trạng thái đơn</span>
  <select class="input-group-text" name="sortInvoice" id="sortInvoice" (change)="showInvoicesSortedBy($event.target.value)">
    <option [value]='99' (select)="showAllInvoice()">Tất cả đơn hàng</option>
    <ng-container *ngFor="let status of invoiceStatus">
      <option  [value]="status.id" (select)="showInvoicesSortedBy(status.id)">{{status.name}}</option>
    </ng-container>
  </select></div>
  <table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th>#</th>
    <th>Khách hàng</th>
    <th>SĐT khách</th>
    <th>Ghi chú</th>
    <th>Ngày đặt hàng</th>
    <th>Trạng thái đơn</th>
    <th>Thao tác</th>
  </tr>
  </thead>
  <ng-container *ngFor="let invoice of invoices,index as i" >
    <tr>
      <td rowspan="2">{{i+1}}</td>
      <td><div [innerText]="invoice.customer.name"></div></td>
      <td><div [innerText]="invoice.customer.phone"></div></td>
      <td><div [innerText]="invoice.note"></div></td>
      <td><div [innerText]="invoice.date.toString()"></div></td>
      <td><div [innerText]="invoice.invoiceStatus.name"></div>
       <td>
      <a class="btn btn-success" style="width: 76.7px" (click)="changeStatusToReceived(invoice.id)">Đã giao</a>
      <a class="btn btn-warning" style="width: 76.7px" (click)="rejectOrder(invoice.id)">Hủy đơn</a>
      </td>
      </tr>
    <tr>
      <td colspan="6">
      <ng-container *ngFor="let order of invoice.orders,index as j" >
      (<span [innerText]="order.quantity"></span>
        &nbsp;&nbsp;<span [innerText]="order.dish.name"></span>
      )
        <span *ngIf="j<invoice.orders.length-1">____</span>
      </ng-container>
      </td>
    </tr>
  </ng-container>
</table>
</div>
