<p>Sửa món ăn</p>
<a routerLink="#" (click)="backToDishList()">Quay lại list các món ăn</a>
<form [formGroup]="dishForm" (ngSubmit)="edit()" enctype="multipart/form-data">
  <table>
    <div>
      <label for="image">Hình ảnh</label>
      <input type="file" id="image" formControlName="image" class="form-control"   (change)="onSelectedFile($event)">
    </div>
    <div>
      <label for="name">Tên món</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
    <div>
      <label for="description">Mô tả</label>
      <input type="text" id="description" formControlName="description" class="form-control">
    </div>
    <div>
      <label for="price">Giá</label>
      <input type="text" id="price" formControlName="price" class="form-control">
    </div>
    <div>
      <label for="status">Trạng thái</label>
      <select id="status" formControlName="status" class="form-control">
        <option [ngValue]="null">Chọn trạng thái </option>
        <ng-container *ngFor="let status1 of status">
          <option  [value]="status1.id">{{status1.name}}</option>
        </ng-container>
      </select>
    </div>

    <div>
      <button class="btn btn-primary mr-1">Cập nhật</button>
    </div>
  </table>
</form>


