<body class="bg-white">
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
              <h3 class="login-heading mb-4">Đăng ký thành viên nhận ngay ưu đãi!</h3>
              <form [formGroup]="merchantForm" (ngSubmit)="createNewMerchant()">
                <div class="form-label-group">
                  <input type="text" id="username" class="form-control"
                         placeholder="enter account name" formControlName="username">
                  <label for="username">Account</label>
                  <div class="col alert alert-danger" role="alert"
                       *ngIf="merchantForm.hasError('invalidUsername', ['username'])
                       && merchantForm.get('username').touched">
                    <i class="icofont-close-circled"></i>  Tài khoản không hợp lệ.
                  </div>
                  <div class="col alert alert-danger" role="alert"
                       *ngIf="!usernameControl?.valid && (usernameControl?.dirty ||usernameControl?.touched)">
                    <div [hidden]="!usernameControl.errors.required">
                      <i class="icofont-close-circled"></i>  Tài khoản không được để trống.
                    </div>
                    <div [hidden]="!usernameControl.errors.minlength || usernameControl.errors.maxlength">
                      <i class="icofont-close-circled"></i>  Tài khoản phải từ 5 đến 12 ký tự.
                    </div>
                  </div>
                </div>
                <div formGroupName="pw">
                  <div class="form-label-group">
                    <input type="password" id="password" class="form-control"
                           placeholder="Password" formControlName="password">
                    <label for="password">Password</label>
                    <div class="col alert alert-danger" role="alert"
                         *ngIf="!passwordControl?.valid && (passwordControl?.dirty ||passwordControl?.touched)">
                      <div [hidden]="!passwordControl.errors.required">
                        <i class="icofont-close-circled"></i>  Mật khẩu không được để trống.
                      </div>
                      <div [hidden]="!passwordControl.errors.minlength || passwordControl.errors.maxlength">
                        <i class="icofont-close-circled"></i>  Mật khẩu phải từ 5 đến 12 ký tự.
                      </div>
                    </div>
                  </div>
                  <div class="form-label-group">
                    <input type="password" id="confirmPassword" class="form-control"
                           placeholder="re-password" formControlName="confirmPassword">
                    <label for="confirmPassword">Re-Password</label>
                  </div>
                  <div class="col alert alert-danger" role="alert"
                       *ngIf="merchantForm.hasError('passwordNotMatch', ['pw']) &&
                    merchantForm.get('pw').touched">
                    <i class="icofont-close-circled"></i> Mật khẩu không khớp.
                  </div>
                </div>
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control"
                         placeholder="Email address" formControlName="email">
                  <label for="inputEmail">Email address </label>
                  <div class="col alert alert-danger" role="alert"
                       *ngIf="!emailControl.valid && (emailControl?.dirty ||emailControl?.touched)">
                    <div [hidden]="!emailControl.errors.required">
                      <i class="icofont-close-circled"></i>  Email không được để trống.
                    </div>
                    <div [hidden]="!emailControl.errors.email">
                      <i class="icofont-close-circled"></i> Dạng Email không phù hợp.
                    </div>
                  </div>
                </div>
                <div class="form-label-group">
                  <input type="text" id="name" class="form-control"
                         placeholder="enter full name" formControlName="name">
                  <label for="name">Full Name</label>
                  <div class="col alert alert-danger" role="alert"
                       *ngIf="!nameControl.valid && (nameControl?.dirty ||nameControl?.touched)">
                    <div [hidden]="!nameControl.errors.required">
                      <i class="icofont-close-circled"></i> Tên không được để trống.
                    </div>
                  </div>
                </div>
                <div class="form-label-group">
                  <input type="text" id="phone" class="form-control"
                         placeholder="enter phone number" formControlName="phone">
                  <label for="phone">Phone</label>
                  <div class="col alert alert-danger" role="alert"
                       *ngIf="!phoneControl.valid && (phoneControl?.dirty ||phoneControl?.touched)">
                    <div [hidden]="!phoneControl.errors.required">
                      <i class="icofont-close-circled"></i> Số điện thoại không được để trống.
                    </div>
                    <div [hidden]="!phoneControl.errors.pattern">
                      <i class="icofont-close-circled"></i> Số điện thoại chỉ được là số và có 9-10 chữ số.
                    </div>
                  </div>
                </div>
                <div class="form-label-group">
                  <input type="text" id="address" class="form-control"
                         placeholder="enter address" formControlName="address">
                  <label for="address">Address</label>
                  <div class="col alert alert-danger" role="alert"
                       *ngIf="!addressControl.valid && (addressControl?.dirty ||addressControl?.touched)">
                    <div [hidden]="!addressControl.errors.required">
                      <i class="icofont-close-circled"></i> Địa chỉ không được để trống.
                    </div>
                  </div>
                </div>
                <div class="form-label-group">
                  <input type="file" (change)="onSelectedFile($event)" id="image">
                  <label for="image">Giấy phép an toàn vệ sinh thực phẩm</label>
                </div>
                <button
                  class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Đăng ký</button>
                <div class="text-center pt-3">
                  Bạn đã có tài khoản? <a class="font-weight-bold" routerLink="/login">Đăng nhập ngay</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
