<!--<body>-->
<section class="section pt-4 pb-4 osahan-account-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="osahan-account-page-left shadow-sm rounded bg-white h-100">

          <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                 aria-controls="orders" aria-selected="true"><i class="icofont-food-cart"></i>
                Your orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab"
                 aria-controls="favourites" aria-selected="false"><i class="icofont-heart"></i>
                Completed orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab"
                 aria-controls="addresses" aria-selected="false"><i class="icofont-location-pin"></i>
                Customer Addresses</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="osahan-account-page-right rounded shadow-sm bg-white p-4 h-100">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="orders" role="tabpanel"
                 aria-labelledby="orders-tab">
              <h4 class="font-weight-bold mt-0 mb-4">All orders</h4>
              <a class="btn btn-sm btn-outline-primary"> <a [routerLink]="['/remove']" >Remove all order</a></a>
              <div class="bg-white card mb-4 order-list shadow-sm" *ngFor="let o of orderList; index as i">
                <div class="gold-members p-4">
                  <a href="#">
                    <div class="media">
                      <img class="mr-4" src="{{o.dish.image}}" alt="Generic placeholder image">
                      <div class="media-body">
                                                    <span class="float-right text-info">{{orderStatusToString(o.status)}} <i class="icofont-check-circled text-success"></i></span>
                        <h6 class="mb-2">
                          <a href="detail.html" class="text-black">{{o.dish.merchant.name}}
                          </a>
                        </h6>
                        <p class="text-gray mb-1"><i class="icofont-location-arrow"></i>{{o.dish.merchant.address}}
                        </p>
                        <p class="text-gray mb-3"><i class="icofont-list"></i> ORDER
                          #{{o.id}} <i class="icofont-clock-time ml-2"></i> {{o.orderTime}}</p>
                        <p class="text-dark">{{o.dish.name}} x {{o.quantity}}
                        </p>
                        <hr>
                        <div class="float-right">
                          <a class="btn btn-sm btn-outline-primary"> <a [routerLink]="['/customer/remove',o.id]">Remove this order</a></a>
                          <a class="btn btn-sm btn-primary" href="detail.html"><i
                            class="icofont-refresh"></i> REORDER</a>
                        </div>
                        <p class="mb-0 text-black text-primary pt-2"><span
                          class="text-black font-weight-bold"> Total Paid:</span> {{o.dish.price * o.quantity}}
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-tab">
              <h4 class="font-weight-bold mt-0 mb-4">Offers</h4>
              <div class="row mb-4 pb-2">
                <div class="col-md-6">
                  <div class="card offer-card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title"><img src="../../../../assets/img/bank/1.png"> OSAHANEAT50</h5>
                      <h6 class="card-subtitle mb-2 text-block">Get 50% OFF on your first
                        osahan eat order</h6>
                      <p class="card-text">Use code OSAHANEAT50 &amp; get 50% off on your
                        first osahan order on Website and Mobile site. Maximum discount:
                        $200</p>
                      <a href="#" class="card-link">COPY CODE</a>
                      <a href="#" class="card-link">KNOW MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card offer-card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title"><img src="../../../../assets/img/bank/2.png"> EAT730</h5>
                      <h6 class="card-subtitle mb-2 text-block">Get 50% OFF on your first
                        osahan eat order</h6>
                      <p class="card-text">Use code EAT730 &amp; get 50% off on your first
                        osahan order on Website and Mobile site. Maximum discount: $600</p>
                      <a href="#" class="card-link">COPY CODE</a>
                      <a href="#" class="card-link">KNOW MORE</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-4 pb-2">
                <div class="col-md-6">
                  <div class="card offer-card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title"><img src="../../../../assets/img/bank/3.png"> SAHAN50</h5>
                      <h6 class="card-subtitle mb-2 text-block">Get 50% OFF on your first
                        osahan eat order</h6>
                      <p class="card-text">Use code SAHAN50 &amp; get 50% off on your first
                        osahan order on Website and Mobile site. Maximum discount: $200</p>
                      <a href="#" class="card-link">COPY CODE</a>
                      <a href="#" class="card-link">KNOW MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card offer-card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title"><img src="../../../../assets/img/bank/4.png"> GURDEEP50</h5>
                      <h6 class="card-subtitle mb-2 text-block">Get 50% OFF on your first
                        osahan eat order</h6>
                      <p class="card-text">Use code GURDEEP50 &amp; get 50% off on your first
                        osahan order on Website and Mobile site. Maximum discount: $600</p>
                      <a href="#" class="card-link">COPY CODE</a>
                      <a href="#" class="card-link">KNOW MORE</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card offer-card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title"><img src="../../../../assets/img/bank/1.png"> OSAHANEAT50</h5>
                      <h6 class="card-subtitle mb-2 text-block">Get 50% OFF on your first
                        osahan eat order</h6>
                      <p class="card-text">Use code OSAHANEAT50 &amp; get 50% off on your
                        first osahan order on Website and Mobile site. Maximum discount:
                        $200</p>
                      <a href="#" class="card-link">COPY CODE</a>
                      <a href="#" class="card-link">KNOW MORE</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card offer-card shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title"><img src="../../../../assets/img/bank/2.png"> EAT730</h5>
                      <h6 class="card-subtitle mb-2 text-block">Get 50% OFF on your first
                        osahan eat order</h6>
                      <p class="card-text">Use code EAT730 &amp; get 50% off on your first
                        osahan order on Website and Mobile site. Maximum discount: $600</p>
                      <a href="#" class="card-link">COPY CODE</a>
                      <a href="#" class="card-link">KNOW MORE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show active" id="favourites" role="tabpanel"
                 aria-labelledby="orders-tab">
              <h4 class="font-weight-bold mt-0 mb-4">Completed orders</h4>
              <div class="bg-white card mb-4 order-list shadow-sm" *ngFor="let o of orderList; index as i">
                <div *ngIf="o.status == 6">
                <div class="gold-members p-4">
                  <a href="#">
                    <div class="media">
                      <img class="mr-4" src="{{o.dish.image}}" alt="Generic placeholder image">
                      <div class="media-body">
                        <span class="float-right text-info">{{orderStatusToString(o.status)}} <i class="icofont-check-circled text-success"></i></span>
                        <h6 class="mb-2">
                          <a href="detail.html" class="text-black">{{o.dish.merchant.name}}
                          </a>
                        </h6>
                        <p class="text-gray mb-1"><i class="icofont-location-arrow"></i>{{o.dish.merchant.address}}
                        </p>
                        <p class="text-gray mb-3"><i class="icofont-list"></i> ORDER
                          #{{o.id}} <i class="icofont-clock-time ml-2"></i> {{o.orderTime}}</p>
                        <p class="text-dark">{{o.dish.name}} x {{o.quantity}}
                        </p>
                        <hr>
                        <div class="float-right">
                          <a class="btn btn-sm btn-outline-primary"> <a [routerLink]="['/remove',o.id]">Remove this order</a></a>
                          <a class="btn btn-sm btn-primary" href="detail.html"><i
                            class="icofont-refresh"></i> REORDER</a>
                        </div>
                        <p class="mb-0 text-black text-primary pt-2"><span
                          class="text-black font-weight-bold"> Total Paid:</span> {{o.dish.price * o.quantity}}
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
              <h4 class="font-weight-bold mt-0 mb-4">Payments</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="bg-white card payments-item mb-4 shadow-sm">
                    <div class="gold-members p-4">
                      <a href="#">
                        <div class="media">
                          <img class="mr-3" src="../../../../assets/img/bank/1.png"
                               alt="Generic placeholder image">
                          <div class="media-body">
                            <h6 class="mb-1">6070-XXXXXXXX-0666</h6>
                            <p>VALID TILL 10/2025</p>
                            <p class="mb-0 text-black font-weight-bold">
                              <a class="text-danger" data-toggle="modal"
                                 data-target="#delete-address-modal" href="#"><i
                                class="icofont-ui-delete"></i> DELETE</a>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white card payments-item mb-4 shadow-sm">
                    <div class="gold-members p-4">
                      <a href="#">
                        <div class="media">
                          <img class="mr-3" src="../../../../assets/img/bank/2.png"
                               alt="Generic placeholder image">
                          <div class="media-body">
                            <h6 class="mb-1">6070-XXXXXXXX-0666</h6>
                            <p>VALID TILL 10/2025</p>
                            <p class="mb-0 text-black font-weight-bold">
                              <a class="text-danger" data-toggle="modal"
                                 data-target="#delete-address-modal" href="#"><i
                                class="icofont-ui-delete"></i> DELETE</a>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-2 pb-2">
                <div class="col-md-6">
                  <div class="bg-white card payments-item mb-4 shadow-sm">
                    <div class="gold-members p-4">
                      <a href="#">
                        <div class="media">
                          <img class="mr-3" src="../../../../assets/img/bank/3.png"
                               alt="Generic placeholder image">
                          <div class="media-body">
                            <h6 class="mb-1">6070-XXXXXXXX-0666</h6>
                            <p>VALID TILL 10/2025</p>
                            <p class="mb-0 text-black font-weight-bold">
                              <a class="text-danger" data-toggle="modal"
                                 data-target="#delete-address-modal" href="#"><i
                                class="icofont-ui-delete"></i> DELETE</a>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white card payments-item mb-4 shadow-sm">
                    <div class="gold-members p-4">
                      <a href="#">
                        <div class="media">
                          <img class="mr-3" src="../../../../assets/img/bank/4.png"
                               alt="Generic placeholder image">
                          <div class="media-body">
                            <h6 class="mb-1">6070-XXXXXXXX-0666</h6>
                            <p>VALID TILL 10/2025</p>
                            <p class="mb-0 text-black font-weight-bold">
                              <a class="text-danger" data-toggle="modal"
                                 data-target="#delete-address-modal" href="#"><i
                                class="icofont-ui-delete"></i> DELETE</a>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="bg-white card payments-item mb-4 shadow-sm">
                    <div class="gold-members p-4">
                      <a href="#">
                        <div class="media">
                          <img class="mr-3" src="../../../../assets/img/bank/5.png"
                               alt="Generic placeholder image">
                          <div class="media-body">
                            <h6 class="mb-1">6070-XXXXXXXX-0666</h6>
                            <p>VALID TILL 10/2025</p>
                            <p class="mb-0 text-black font-weight-bold">
                              <a class="text-danger" data-toggle="modal"
                                 data-target="#delete-address-modal" href="#"><i
                                class="icofont-ui-delete"></i> DELETE</a>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white card payments-item mb-4 shadow-sm">
                    <div class="gold-members p-4">
                      <a href="#">
                        <div class="media">
                          <img class="mr-3" src="../../../../assets/img/bank/6.png"
                               alt="Generic placeholder image">
                          <div class="media-body">
                            <h6 class="mb-1">6070-XXXXXXXX-0666</h6>
                            <p>VALID TILL 10/2025</p>
                            <p class="mb-0 text-black font-weight-bold">
                              <a class="text-danger" data-toggle="modal"
                                 data-target="#delete-address-modal" href="#"><i
                                class="icofont-ui-delete"></i> DELETE</a>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-6">
                  <div class="bg-white card payments-item shadow-sm">
                    <div class="gold-members p-4">
                      <a href="#">
                        <div class="media">
                          <img class="mr-3" src="../../../../assets/img/bank/1.png"
                               alt="Generic placeholder image">
                          <div class="media-body">
                            <h6 class="mb-1">6070-XXXXXXXX-0666</h6>
                            <p class="text-black">VALID TILL 10/2025</p>
                            <p class="mb-0 text-black font-weight-bold">
                              <a class="text-danger" data-toggle="modal"
                                 data-target="#delete-address-modal" href="#"><i
                                class="icofont-ui-delete"></i> DELETE</a>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white card payments-item shadow-sm">
                    <div class="gold-members p-4">
                      <a href="#">
                        <div class="media">
                          <img class="mr-3" src="../../../../assets/img/bank/2.png"
                               alt="Generic placeholder image">
                          <div class="media-body">
                            <h6 class="mb-1">6070-XXXXXXXX-0666</h6>
                            <p>VALID TILL 10/2025</p>
                            <p class="mb-0 text-black font-weight-bold">
                              <a class="text-danger" data-toggle="modal"
                                 data-target="#delete-address-modal" href="#"><i
                                class="icofont-ui-delete"></i> DELETE</a>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
              <h4 class="font-weight-bold mt-0 mb-4">Manage Addresses</h4>
              <div class="row" *ngFor="let a of customerAddressList; index as i">
                <div class="col-md-6">
                  <div class="bg-white card addresses-item mb-4 border border-primary shadow">
                    <div class="gold-members p-4">
                      <div class="media">
                        <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i></div>
                        <div class="media-body">
                          <h6 class="mb-1 text-secondary"></h6>
                          <p class="text-black">{{a}}
                          </p>
                          <p class="mb-0 text-black font-weight-bold"><a
                            class="text-primary mr-3" data-toggle="modal"
                            data-target="#add-address-modal" href="#"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 text-center bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="m-0">Bạn có cửa hàng? <a href="login.html">Gia nhập với chúng tôi cùng cung cấp sản phẩm tốt nhất cho khách hàng</a></h5>
      </div>
    </div>
  </div>
</section>
<section class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
<!--      <div class="col-md-4 col-12 col-sm-12">-->
<!--        <h6 class="mb-3">Đăng ký nhận thông tin khi có giảm giá</h6>-->
<!--        <form class="newsletter-form mb-1">-->
<!--          <div class="input-group">-->
<!--            <input type="text" placeholder="Email của bạn" class="form-control">-->
<!--            <div class="input-group-append">-->
<!--              <button type="button" class="btn btn-primary">-->
<!--                Đăng ký-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--        <p><a class="text-info" href="register.html">Đăng ký</a> để nhận<a-->
<!--          href="offers.html"> hàng ngàn ưu đãi khác</a></p>-->
<!--        <div class="app">-->
<!--          <p class="mb-2">DOWNLOAD APP</p>-->
<!--          <a href="#">-->
<!--            <img class="img-fluid" src="assets/img/google.png">-->
<!--          </a>-->
<!--          <a href="#">-->
<!--            <img class="img-fluid" src="assets/img/apple.png">-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-md-1 col-sm-6 mobile-none">
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Về chúng tôi</h6>
        <ul>
          <li><a href="#">Thông tin liên hệ</a></li>
          <li><a href="#">Văn hóa doanh nghiệp</a></li>
          <li><a href="#">Tầm nhìn - Sứ mệnh</a></li>
          <li><a href="#">Tuyển dụng</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Dành cho cửa hàng</h6>
        <ul>
          <li><a href="#">Hỗ trợ kỹ thuật</a></li>
          <li><a href="#">Hỗ trợ bán hàng</a></li>
          <li><a href="#">Góp ý</a></li>
          <li><a href="#">Khiếu nại</a></li>
        </ul>
      </div>
      <div class="col-md-2 m-none col-4 col-sm-4">
        <h6 class="mb-3">Khách hàng</h6>
        <ul>
          <li><a href="#">Bảo vệ quyền lợi người tiêu dùng</a></li>
          <li><a href="#">Chăm sóc khách hàng</a></li>
          <li><a href="#">Khiếu nại</a></li>
          <li><a href="#">Góp ý</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="footer-bottom-search pt-5 pb-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p class="text-black">Từ khóa phổ biến</p>
        <div class="search-links">
          <a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> | <a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a>
        </div>
        <p class="mt-4 text-black">Danh mục món ăn</p>
        <div class="search-links">
          <a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
          Indian</a> | <a href="#">Punjabi Food</a> | <a href="#">Fast Food</a> | <a
          href="#">Chinese</a> | <a href="#">Street Food</a> | <a href="#">Continental</a> | <a
          href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South Indian</a> | <a
          href="#">Punjabi Food</a><a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a
          href="#">Street Food</a> | <a href="#">Continental</a> | <a href="#">Mithai</a> | <a
          href="#">Cafe</a> | <a href="#">South Indian</a> | <a href="#">Punjabi Food</a> | <a
          href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
          Indian</a> | <a href="#">Punjabi Food</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<footer class="pt-4 pb-4 text-center">-->
<!--  <div class="container">-->
<!--    <p class="mt-0 mb-0">© Copyright 2020 thaotrinhminh@gmail.com. All Rights Reserved</p>-->
<!--    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by-->
<!--      <a class="text-danger" target="_blank"-->
<!--         href="http://thaotrinh.info">thaotrinh.info</a>-->
<!--    </small>-->
<!--  </div>-->
<!--&lt;!&ndash;</footer>&ndash;&gt;-->

<!--&lt;!&ndash;<script src="assets/vendor/jquery/jquery-3.3.1.slim.min.js" type="65cbe8ffe39bf677c94dea94-text/javascript"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="65cbe8ffe39bf677c94dea94-text/javascript"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="assets/vendor/select2/js/select2.min.js" type="65cbe8ffe39bf677c94dea94-text/javascript"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="assets/js/custom.js" type="65cbe8ffe39bf677c94dea94-text/javascript"></script>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
