<div class="dropdown float-right">
  <a class="btn btn-outline-info dropdown-toggle btn-sm border-white-btn" href="#" role="button"
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Danh sách: <span class="text-theme"> Khách hàng</span> &nbsp;&nbsp;
  </a>
  <div class="dropdown-menu dropdown-menu-left shadow-sm border-0 ">
    <a class="dropdown-item" routerLink="/admin/merchant"> Người bán</a>
    <a class="dropdown-item" routerLink="/admin/dish/list"> Món ăn</a>
    <a class="dropdown-item" routerLink="/admin/dish/list/sale"> Món ăn yêu thích</a>
    <a class="dropdown-item" routerLink="/admin/dish/list/sold"> Món ăn ngừng bán</a>
    <a class="dropdown-item" routerLink="/admin/merchant/list"> Nhà hàng</a>
    <a class="dropdown-item" routerLink="/admin/merchant/list/gold"> Nhà hàng GOLD</a>
  </div>
</div>
<div class="container-fluid">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">UserName</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="3" style="text-align: center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers, index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{customer.appUser.username}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.appUser.roles[0].name}}</td>
      <ng-container *ngIf="customer.appUser.enabled; else elseBlock">
        <td>Đã xác thực</td>
      </ng-container>
      <ng-template #elseBlock>
        <td>Chưa xác thực</td>
      </ng-template>
      <td></td>
      <td><button (click)="deleteCustomer(customer.id)" class="btn btn-primary"><i class="icofont-delete"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>

