<body class="bg-white">
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
              <h3 class="login-heading mb-4">Bạn muốn đăng ký là :</h3>
              <hr class="my-4">

              <a class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                routerLink="/merchant/register">Đăng ký cung cấp dịch vụ</a>

              <a class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                routerLink="/customer/register">Đăng ký mua hàng</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

