<body class="bg-white">
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
              <h3 class="login-heading mb-4">Thêm mới món ăn</h3>
              <a routerLink="#" (click)="backToDishList()">Quay lại danh sách món ăn</a>

<form [formGroup]="dishForm" (ngSubmit)="createDish()" enctype="multipart/form-data">
  <div class="form-label-group">
    <input type="text" id="name" class="form-control" formControlName="name">
    <label for="name">Tên món</label>
  </div>
    <div>
      <label for="image">Thêm hình ảnh</label><br>
      <input type="file" id="image" formControlName="image" class="form-control"   (change)="onselectFile($event)">
      <img [src]="sanitizer.bypassSecurityTrustUrl(imageLink)" style="width: 100px;height: 100px">
    </div>
    <div class="form-label-group">
      <input type="text" id="description" formControlName="description" class="form-control">
      <label for="description">Mô tả</label>
    </div>
  <div>
    <label for="status">Trạng thái</label>
    <select id="status" formControlName="status" class="form-control">
      <option [ngValue]="null">Chọn trạng thái </option>
      <ng-container *ngFor="let status1 of status">
        <option  [value]="status1.id">{{status1.name}}</option>
      </ng-container>
    </select>
  </div>
    <div class="form-label-group">
      <input type="text" id="price" formControlName="price" class="form-control">
      <label for="price">Đơn Giá</label>
    </div>
    <div>
      <button class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Tạo mới</button>
    </div>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



